@import 'tailwindcss';

:root {
  --brand: #3dad87;

  --primary: rgba(23, 23, 23, 1);
  --subdued: rgba(23, 23, 23, 0.6);

  --foreground: #fafaf8;
  --paper: #ffffff;
  --border: #edebf0;
}

@theme inline {
  --color-brand: var(--brand);
  --color-primary: var(--primary);
  --color-subdued: var(--subdued);
  --color-foreground: var(--foreground);
  --color-paper: var(--paper);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  * {
    border-color: var(--color-border);
  }

  body {
    background-color: var(--color-paper);
    color: var(--color-primary);
  }
}
